name: Sync to Hugging Face Hub
on:
  push:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true
      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        # REPLACE 'YOUR_USER' AND 'YOUR_SPACE_NAME' BELOW:
        run: git push https://imran-decoder:$HF_TOKEN@huggingface.co/spaces/imran-decoder/job_mapping main